.container {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  font-family: sans-serif;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.barra {
  margin-bottom: 2rem;
}

.contenedor-imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex: 1 1 calc(50% - 20px); /* 2 por fila con espacio */
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card img.imagenes {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}